<div class="bg-white w-full p-2 rounded-md shadow-sm">
  <div id="Tags" class="flex text-[10px] text-slate-400 space-x-2">
    <p class="">ISC</p>
    <span>●</span>
    <p class="">Fundamentos de Programación</p>
    <span>●</span>
    <p class="">Java</p>
  </div>
  <hr class="mt-1 mb-1">
  <div id="author" class="flex items-center space-x-3 text-slate-800">
    <p class="text-[10px] font-semibold text-slate-600">Hernandez García Carlos de Jesus</p>
    <span class="text-slate-400 text-[10px]">●</span>
    <p class="text-[10px]">hace 3 min.</p>
  </div>
  <div id="subject">
    <p class="text-sm font-medium text-slate-700">Fundamentos de Programación</p>
  </div>
  <div id="content">
    <p class="text-xs text-slate-500 line-clamp-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad numquam architecto, dicta doloribus, corporis debitis possimus dolores veritatis rem magni praesentium consequatur incidunt provident cumque aliquam placeat hic aperiam excepturi!
    Tempora, eius, aliquam perferendis temporibus beatae deleniti veritatis in nihil voluptatibus iste earum expedita reiciendis, explicabo dolores facilis? Voluptas molestias laboriosam consequuntur fuga facilis et magni ut id officia tenetur!
    Amet, mollitia obcaecati quidem nulla autem debitis voluptas culpa ad eaque, sint delectus vero saepe nisi vitae modi laboriosam sequi ipsam. Eaque, autem reprehenderit? Totam reprehenderit explicabo tenetur odit eius?
    </p>
  </div>
</div>
