<div class="relative bg-white rounded-md">
  <div class="absolute bg-slate-800 w-full h-10 rounded-tl-md rounded-tr-md"></div>
  <div class="relative flex items-center justify-center w-14 p-3 bg-white border-2 border-black left-5 top-5 rounded-full">
    <i class="fa-solid fa-film text-Primary-Orange text-2xl"></i>
  </div>
  <p class="relative text-black pl-5 pt-5 font-medium">TALLER</p>
  <div class="pl-5 pt-2 pr-5 pb-5">
    <a routerLink="/" class="text-Secondary-Blue">¿Cómo crear una página web?</a>
  </div>
</div>
