<div class="w-full h-full font-Poppins p-5">
  <div class="flex flex-row items-center justify-between">
    <div class="flex flex-col">
      <h2 class="text-3xl font-semibold">Listado de asesores</h2>
      <p class="text-sm text-slate-500">Aquí encontrarás una lista de los asesores verificados por parte de la Universidad Autónoma de Tamaulipas.</p>
    </div>
  </div>

  <div class="mb-3 w-full flex justify-center pl-5 pr-5">
    <div class="w-full flex flex-row space-x-3">
      <input
        type="text"
        id="searchTeacher"
        class="w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500"
        placeholder="Buscar asesor"
        required>
      <button class="w-28 p-1 h-10 bg-Secondary-Blue text-white text-sm rounded-lg hover:bg-Primary-Blue">
        Buscar
      </button>
    </div>
  </div>

  <div class="w-full flex justify-center">
    <div class="flex flex-col w-full p-3 space-y-3 md:grid md:grid-cols-4 md:space-y-0 md:gap-x-3 md:gap-y-3">
      <app-teacher-card></app-teacher-card>
      <app-teacher-card></app-teacher-card>
      <app-teacher-card></app-teacher-card>
      <app-teacher-card></app-teacher-card>
      <app-teacher-card></app-teacher-card>
      <app-teacher-card></app-teacher-card>
      <app-teacher-card></app-teacher-card>
    </div>
  </div>
</div>


<div class="flex flex-row justify-center md:justify-end p-3">
  <nav aria-label="Page navigation">
    <ul class="inline-flex -space-x-px text-sm">
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">Anterior</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">1</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">2</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-Secondary-LightBlue bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">3</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">4</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">5</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>


