
<footer class="flex flex-col md:flex-row md:space-x-6 md:items-center space-y-6 justify-center bg-Secondary-Turquoise p-3">
  <div class="mx-auto w-10/12 mt-6 md:mt-0">
    <img src="assets/images/UAT_logo.svg" alt="UAT Logo" class="mx-auto h-20 md:h-24">
  </div>

  <div class="mx-auto w-10/12 bg-Primary-Blue/50 rounded-md p-5 select-none">
    <ul class="text-white">
      <a routerLink="">
        <li><i class="fa-solid fa-link"></i> Politicas de seguridad</li>
      </a>
      <a routerLink="">
        <li><i class="fa-solid fa-link"></i> Aviso de privacidad</li>
      </a>
      <a routerLink="">
        <li><i class="fa-solid fa-link"></i> La universidad</li>
      </a>
      <a routerLink="">
        <li><i class="fa-solid fa-link"></i> EUAT</li>
      </a>
      <a routerLink="">
        <li><i class="fa-solid fa-link"></i> Objetivos y políticas de calidad</li>
      </a>
      <a routerLink="">
        <li><i class="fa-solid fa-link"></i> Inicio de sesión</li>
      </a>
    </ul>
  </div>

  <div class="flex flex-col space-y-6 md:w-10/12">
    <div class="mx-auto w-full">
      <img src="assets/images/ACT_logo.svg" alt="Aquí comienza todo" class="mx-auto h-8">
    </div>

    <div class="flex flex-row justify-center w-full md:mt-0 text-3xl text-gray-50 space-x-3">
      <a href="https://www.facebook.com/UATmx/" target="_blank" class="p-2 hover:bg-Primary-Blue/50 hover:text-white rounded-md">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com/uat_mx" target="_blank" class="p-2 hover:bg-Primary-Blue/50 hover:text-white rounded-md">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/uatmx" target="_blank" class="p-2 hover:bg-Primary-Blue/50 hover:text-white rounded-md">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
